.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > .card-item {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
  position: relative;
  border-radius: 20px;
}

.img-fluid {
  border-radius: 20px;
}

/* .text-overlay {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2em 0.8em;
  background: #0000002d;
} */

.overlay {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: #0000006b;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay p {
  width: 80%;
  color: #f2f2f2;
  font-weight: 700;
}

.card-item:hover > .overlay {
  visibility: visible;
}

.action-image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card-photo {
  border-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 20px 0px;
}

.card-list {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 20px 0px;
}

.button-danger {
  background: #ad081b;
  padding: 0.5em 1em;
  border: 0;
  border-radius: 30px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  font-size: 14px;
}

.favorite {
  color: #f2f2f2;
  text-decoration: none;
  padding: 0.5em 1em;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
}

.button-danger-lg {
  background: #ad081b;
  padding: 0.8em 2em;
  border: 0;
  border-radius: 30px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
}

.search {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-radius: 30px;
  white-space: nowrap;
  font-size: 14px;
  width: 100%;
}

.modal-container {
  border-radius: 35px;
}
